/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}

/* Navigation link styles */
nav {
  background: beige;
  padding: 4px;
  margin-bottom: 1%;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  color: #fff;
}

button.blue {
  background: cornflowerblue;
}

button.pink {
  background: hotpink;
}

button.purple{
  background: mediumpurple;
}

button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

div.inputContainer {
  border: 1px solid burlywood;
  margin-bottom: 3%;
  padding: 1%;
}

label {
    display: inline-block;
    padding: 1%;
    border-radius: 0.5em;
    width: 25%;
    vertical-align: middle;
}


label.toggle {
  width: 3.5em;
  height: 1em;
  position: relative;
  border-radius: 1em;
  background: #607D8B;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
}

label.toggle:before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  left: 1px;
  top: 1px;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
}

input[type="checkbox"]:checked + label.toggle {
  background: #039be5;
}

input[type="checkbox"]:checked + label.toggle:before {
  left: 2.6em;
}

input {
  padding-left: 0.3em
}

input.toggle{
  display: none;
}

input.ng-invalid,
input.invalid {
  border-color: crimson;
}