<div>
  <form (ngSubmit)="addContact(contact)" #contactDetails = "ngForm">
  <div>
     <div class="inputContainer">
      <label for="inputFname">First Name:</label>
      <input id="inputFname" type="text" [(ngModel)]="contact.fname" placeholder="fname" required name="fname" #fname="ngModel"/>
    </div>
    <div class="inputContainer">
      <label for="inputLname">Last Name: </label>
      <input id="inputLname" type="text" [(ngModel)]="contact.lname" placeholder="lname" required name="lname"/>
    </div>
    <div class="inputContainer">
      <label for="inputEmail">Email:</label>
      <input id="inputEmail" type="email" [(ngModel)]="contact.email" placeholder="email"  email  required name="email" #emailMd="ngModel" [class.invalid]="emailMd.errors?.email"/>
     </div>
    <div class="inputContainer">
      <label for="inputPhone">Phone: </label>
      <input id="inputPhone" type="number" [(ngModel)]="contact.phone" placeholder="phone" required ng-minlength="10" name="phone" #phoneMd="ngModel" [class.invalid] = "phoneMd.errors?.phone"/>
    </div>
    <div class="inputContainer">
     <label for="inputStatus">Status:</label>
     <input id="inputStatus" class="toggle" type="checkbox" [(ngModel)]="contact.status" placeholder="status" name="status" #statusMd="ngModel" [class.invalid] = "statusMd.errors?.status"/>
     <label for="inputStatus" class="toggle"></label>
    </div>
  </div>
  <button type="submit" [disabled]="!contactDetails.valid" class="blue">Add Contact</button>
  </form>
</div>